# Wails / Go
.task
bin
build/bin
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

# Frontend
node_modules
frontend/dist
frontend/node_modules
frontend/bindings

# Misc
out
*.log*

# Claude Code context files (symlinked from private repo)
**/CLAUDE.md
